body.disableScroll {
  overflow: hidden;
}

#black_filter {
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(30, 30, 30, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  opacity: 0;
  visibility: hidden;
}

#black_filter.show {
  opacity: 1;
  visibility: visible;
}

aside {
  width: 12em;
  height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  background-color: white;
  z-index: 11;
  position: fixed;
  top: 0;
  right: -18em;
  -webkit-box-shadow: -0.2em 0 0.4em -0.2em rgba(70, 69, 85, 0.3);
          box-shadow: -0.2em 0 0.4em -0.2em rgba(70, 69, 85, 0.3);
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

aside .top {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0.5em;
  border-bottom: 1px solid #d5d5d8;
}

aside .top #change_img {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

aside .top #change_img input[type="file"] {
  width: 0;
  height: 0;
  display: none;
}

aside .top #change_img label {
  width: auto;
  height: auto;
  cursor: pointer;
}

aside .top #change_img label img {
  width: 4.8em;
  height: 4.8em;
  border-radius: 50%;
}

aside .top .name {
  font-size: 0.7em;
  color: #2d2d31;
  margin-top: -0.5em;
}

aside .top .password_signout {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

aside .top .password_signout a {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

aside .top .password_signout a i {
  font-size: 1em;
  color: #86878e;
}

aside .top .password_signout a i.fa-sign-in-alt {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

aside .top .password_signout a p {
  font-size: 0.7em;
  color: #86878e;
}

aside .top .password_signout a:hover i, aside .top .password_signout a:hover p {
  color: #f0c900;
}

aside .bottom {
  width: 100%;
  height: auto;
  padding: 1em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

aside .bottom a {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  margin: 0.5em 0;
  padding: 0 1em 0 0.5em;
  position: relative;
}

aside .bottom a:first-child {
  margin-top: 0;
}

aside .bottom a::before {
  content: '';
  width: 5px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f0c900;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

aside .bottom a:hover::before {
  opacity: 1;
  visibility: visible;
}

aside .bottom a:hover i, aside .bottom a:hover p {
  color: #f0c900;
}

aside .bottom a i, aside .bottom a p {
  color: #86878e;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

aside .bottom a i {
  font-size: 1em;
}

aside .bottom a p {
  font-size: 0.8em;
  margin-right: 0.5em;
  -webkit-transform: translateY(-4%);
     -moz-transform: translateY(-4%);
      -ms-transform: translateY(-4%);
          transform: translateY(-4%);
}

aside .bottom a.active::before {
  opacity: 1;
  visibility: visible;
}

aside .bottom a.active i, aside .bottom a.active p {
  color: #f0c900;
}

aside.show {
  right: 0;
}

body > i.fa-bars.main_menu {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #f0c900;
  color: white;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  position: fixed;
  right: 2.5%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  font-size: 1.4em;
  z-index: 12;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}

body > i.fa-bars.main_menu.show {
  right: -webkit-calc(2% + 9em);
  right: -moz-calc(2% + 9em);
  right: calc(2% + 9em);
}
/*# sourceMappingURL=main-menu.css.map */