@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@font-face{
    font-family: mj ;
    src: url('../../assets/fonts/mj.ttf') ;
}
#login_wrapper,#forget_wrapper,#signup_wrapper{
    width: 20em ;
    height: auto;
    padding: 0 ;
    margin: $dist3 auto ;
    display: flex ;
    @include flex(column,flex-start,center,nowrap,"") ;
    img{
        width: 6em ;
        height: 5em;
    }
    .persian{
        font-size: $font-special ;
        color: $darkColor ;
        font-family: mj ;
    }
    #login,#forget,#signup{
        @include containerStyle ;
        width: 100% ;
        height: auto ;
        padding: 0 ;
        padding-bottom: $dist1 ;
        margin: $dist1 auto 0 auto;
        display: flex ;
        @include flex(column,flex-start,center,nowrap,"") ;
        h4{
            width: 100% ;
            height: auto;
            text-align: center ;
            color: $darkColor ;
            padding-bottom: .3em ;
            font-size: $font-l ;
            font-weight: 700 ;
            border-bottom: 1px solid lighten($greyColor2,25%) ;
        }
        .input_wrapper{
            width: auto ;
            height: auto;
            position: relative ;
            display: flex ;
            @include flex(column,flex-start,flex-start,nowrap,"") ;
            input{
                width: 16em ;
                height: 2.5em;
                line-height: 2.5em ;
                padding: 0 $dist1 ;
                border-radius: $dist3 ;
                border : 1.2px solid lighten($greyColor2,15%) ;
                font-size: $font-m ;
                transition: all .2s linear ;
                margin-top: $dist2 ;
                &::placeholder{
                    font-size: $font-m ;
                    color: $greyColor2 ;
                }
            }     
            .error{
                width: auto ;
                height: auto;
                position: absolute ;
                top: 110% ;
                right: $dist1 ;
                visibility: hidden ;
                opacity: 0;
                transition: all .3s linear ;
                z-index: 2;
                i{
                    font-size: $font-l ;
                    position: absolute ;
                    right: $dist2 ;
                    bottom: 72% ;
                    color: lighten($redColor2,5%) ;
                }
                p{
                    width: auto ;
                    height: auto;
                    border-radius: $dist1 ;
                    font-size: $font-m - .1em ;
                    color: $whiteColor2 ;
                    background-color: lighten($redColor2,5%) ;
                    padding: $dist1 $dist1 ;
                }
            }
            .error.show{
                visibility: visible ;
                opacity: 1;
            }
        }
        .input_wrapper.checkbox{
            margin-top: $dist1 ;
            input[type="checkbox"]{
                width: 0 ;
                height: 0;
                display: none ;
                &:checked{
                    ~label{
                        .rect{
                            background-color: $primaryColor ;
                            border: none ;
                            i{
                                color: white ;
                            }
                        }
                    }
                }
            }
            label{
                width: auto ;
                height: auto;
                display: flex ;
                @include flex(row,flex-start,center,nowrap,"") ;
                cursor: pointer;
                span.rect{
                    width: 1.2em ;
                    height: 1.2em;
                    border-radius: .3em ;
                    border: 1px solid darken($greyColor2,15%) ;
                    transition: all .3s linear ;
                    background-color: transparent ;
                    position: relative ;
                    i{
                        @include center-xy ;
                        font-size: $font-l ;
                        color: transparent ;
                        transition: all .3s linear ;
                    }
                }
                p{
                    color: $greyColor2 ;
                    font-size: $font-m - .1em ;
                    margin-right: $dist1 ;
                }
            }
        }
        .forget_password,.create_new,.signin{
            font-size: $font-m ;
            color: $primaryColor ;
            margin-top: $dist1 ;
        }
        .forget_password{
            width: 16em ;
            text-align: right ; 
            margin-top: 0 ;
            margin-right: $dist1 ;
        }
        button[type="submit"]{
            width: auto ;
            height: auto;
            border-radius: $dist3 ;
            font-size: $font-m ;
            padding: $dist1 - .2em $dist3 + .5em ;
            color: black ;
            background-color: $primaryColor ;
            margin-top: $dist2 ;
            cursor: pointer;
        }
    }
}
@media screen and (max-width:800px){
    #login_wrapper,#forget_wrapper,#signup_wrapper{
        font-size: 16px ;
    }
}
@media screen and (max-width:500px){
    #login_wrapper,#forget_wrapper,#signup_wrapper{
        font-size: 13px ;
    }
}
@media screen and (max-width:360px){
    #login_wrapper,#forget_wrapper,#signup_wrapper{
        width: 90% ;
    }
}