@font-face {
  font-family: logoPersian;
  src: url("../../assets/fonts/mj.ttf");
}

@font-face {
  font-family: logoEnglish;
  src: url("../../assets/fonts/corbel.ttf");
}

header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
  background-color: #fbfbfb;
  -webkit-box-shadow: 0 0.2em 0.2em -0.2em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.2em 0.2em -0.2em rgba(70, 69, 85, 0.3);
  padding: 0.5em;
}

header .helpers {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header .helpers a {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin: 0 0.5em;
}

header .helpers a:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

header .helpers a i {
  font-size: 0.8em;
  color: #f0c900;
}

header .helpers a p {
  color: #2d2d31;
  font-size: 0.6em;
}

header .helpers a.basket {
  position: relative;
}

header .helpers a.basket .badge {
  position: absolute;
  top: -25%;
  right: -15%;
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  background-color: #f0c900;
  color: #fbfbfb;
  line-height: 1.3em;
  text-align: center;
  font-size: 0.8em;
}

header form#search {
  width: 18em;
  height: auto;
  position: relative;
  margin-right: 0.5em;
}

header form#search input {
  width: 100%;
  height: 2.5em;
  font-size: 0.8em;
  color: #2d2d31;
  border: 1px solid #bbbbbf;
  border-radius: 0.5em;
  padding: 0.5em;
}

header form#search input::-webkit-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search input:-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search input::-moz-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search input:-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search input::-ms-input-placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search input::placeholder {
  font-size: 0.8em;
  color: #86878e;
}

header form#search button[type="submit"] {
  width: auto;
  height: 105%;
  color: #fbfbfb;
  background-color: #f0c900;
  cursor: pointer;
  padding: 0 1.7em;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

header form#search button[type="submit"] i {
  font-size: 1.2em;
  color: black;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

header form#search ul#result {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
  height: auto;
  z-index: 6;
  position: absolute;
  right: 0;
  top: 108%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  -webkit-box-shadow: 0 0.2em 0.3em -0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0.2em 0.3em -0.05em rgba(70, 69, 85, 0.3);
}

header form#search ul#result li {
  width: 100%;
  height: 2.5em;
}

header form#search ul#result li a {
  width: 100%;
  height: 100%;
  line-height: 2.5em;
  padding: 0 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  background-color: #fbfbfb;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header form#search ul#result li a:hover {
  background-color: #eeeeee;
}

header form#search ul#result li a i {
  color: #86878e;
  font-size: 1em;
  -webkit-transform: translateY(8%);
     -moz-transform: translateY(8%);
      -ms-transform: translateY(8%);
          transform: translateY(8%);
}

header form#search ul#result li a p {
  font-size: 0.8em;
  -webkit-transform: translate(-0.3em, 0);
     -moz-transform: translate(-0.3em, 0);
      -ms-transform: translate(-0.3em, 0);
          transform: translate(-0.3em, 0);
  color: #86878e;
}

header form#search ul#result.show {
  visibility: visible;
  opacity: 1;
}

header a.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0.5em;
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header a.logo .text {
  width: auto;
  height: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

header a.logo .text p {
  color: #2d2d31;
}

header a.logo .text p:first-child {
  font-family: logoPersian;
  font-size: 1em;
}

header a.logo .text p:last-child {
  text-: uppercase;
  font-family: logoEnglish;
  font-size: 0.9em;
}

header a.logo img {
  width: 6em;
  height: 3em;
  margin-right: 0.5em;
}

@media screen and (max-width: 940px) {
  header {
    font-size: 16px;
  }
}

@media screen and (max-width: 740px) {
  header {
    height: 6.5em;
  }
  header form#search {
    width: 75%;
    position: absolute;
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
       -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
    bottom: 0.5em;
    margin-right: 0;
  }
  header a.logo {
    top: 0.5em;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media screen and (max-width: 500px) {
  header {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  header {
    height: 6.5em;
  }
  header form#search {
    width: 90%;
  }
  header a.logo img {
    width: 4em;
    height: 3em;
    margin-right: 0.5em;
  }
}
/*# sourceMappingURL=header.css.map */