:export {
  primaryColor: #f0c900;
  blueColor1: #009CFF;
  blueColor2: #003DBB;
  purpleColor1: #6956D8;
  purpleColor2: #9090C5;
  purpleColor3: #4a4982;
  greenColor1: #6BFBCE;
  greenColor2: #1EC198;
  redColor1: #FF5198;
  redColor2: #e74a4a;
  orangeColor1: #FF846C;
  orangeColor2: #ff8f00;
  yellowColor: #f9a825;
  brownColor: #C99035;
  paleColor: #f4f3f7;
  whiteColor1: #f8f8f8;
  whiteColor2: #fbfbfb;
  greyColor: #b9b9c1;
  greyColor2: #86878e;
  darkColor: #2d2d31;
  darkBlue: #5d6174;
  shadowColor: rgba(70, 69, 85, 0.3);
  shadowColor2: rgba(0, 0, 0, 0.5);
  blackFilter: rgba(30, 30, 30, 0.8);
  blackFilter2: rgba(30, 30, 30, 0.6);
  blackFilter3: rgba(30, 30, 30, 0.7);
}

:export {
  primaryColor: #f0c900;
  blueColor1: #009CFF;
  blueColor2: #003DBB;
  purpleColor1: #6956D8;
  purpleColor2: #9090C5;
  purpleColor3: #4a4982;
  greenColor1: #6BFBCE;
  greenColor2: #1EC198;
  redColor1: #FF5198;
  redColor2: #e74a4a;
  orangeColor1: #FF846C;
  orangeColor2: #ff8f00;
  yellowColor: #f9a825;
  brownColor: #C99035;
  paleColor: #f4f3f7;
  whiteColor1: #f8f8f8;
  whiteColor2: #fbfbfb;
  greyColor: #b9b9c1;
  greyColor2: #86878e;
  darkColor: #2d2d31;
  darkBlue: #5d6174;
  shadowColor: rgba(70, 69, 85, 0.3);
  shadowColor2: rgba(0, 0, 0, 0.5);
  blackFilter: rgba(30, 30, 30, 0.8);
  blackFilter2: rgba(30, 30, 30, 0.6);
  blackFilter3: rgba(30, 30, 30, 0.7);
}

:export {
  dist1: 0.5em;
  dist2: 1em;
  dist3: 2em;
  dist4: 4em;
  font-s: 0.6em;
  font-m: 0.8em;
  font-l: 1em;
  font-xl: 1.2em;
  font-xxl: 2em;
  font-special: 1.6em;
  sectionsDist: 4em;
}

#orders {
  width: 80%;
  height: auto;
  margin: 2em auto 0 auto;
  padding: 0.5em 1em;
  background-color: white;
  -webkit-box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
  border-radius: 0.5em;
  width: 90%;
  height: auto;
  margin: 2em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#orders h4 {
  font-size: 1em;
  font-weight: 700;
  color: #2d2d31;
}

#orders table {
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 1em auto 0 auto;
}

#orders table th.num, #orders table td.num {
  width: 6em;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

#orders table th.products, #orders table td.products {
  width: 30em;
  -webkit-flex-shrink: 2;
      -ms-flex-negative: 2;
          flex-shrink: 2;
}

#orders table th.price, #orders table td.price {
  width: 15em;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#orders table th.date, #orders table td.date {
  width: 15em;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#orders table th.state, #orders table td.state {
  width: 15em;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#orders table th.details, #orders table td.details {
  width: 15em;
  -webkit-flex-shrink: 1;
      -ms-flex-negative: 1;
          flex-shrink: 1;
}

#orders table thead {
  width: 100%;
  height: auto;
  background-color: #f0c900;
}

#orders table thead tr {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#orders table thead tr th {
  color: black;
  font-size: 0.8em;
  height: 3em;
  text-align: center;
  line-height: 3em;
}

#orders table thead tr th.products {
  text-align: right;
}

#orders table tbody {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#orders table tbody tr {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  padding: 0.5em 0;
  border-bottom: 1px solid #c8c8cc;
}

#orders table tbody tr td {
  height: auto;
  color: #2d2d31;
  font-size: 0.8em;
  text-align: center;
  padding: 0.5em 0;
}

#orders table tbody tr td.products ul {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#orders table tbody tr td.products ul li {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin-top: 0.5em;
}

#orders table tbody tr td.products ul li i {
  font-size: 0.8em;
  color: #f0c900;
}

#orders table tbody tr td.products ul li a {
  color: #2d2d31;
  font-size: 0.8em;
  -webkit-transform: translate(-0.5em, -0.5em);
     -moz-transform: translate(-0.5em, -0.5em);
      -ms-transform: translate(-0.5em, -0.5em);
          transform: translate(-0.5em, -0.5em);
}

#orders table tbody tr td.state p {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.5em 2em;
  border-radius: 2em;
  color: #fbfbfb;
  font-size: 0.8em;
}

#orders table tbody tr td.state.process p {
  background-color: orangered;
}

#orders table tbody tr td.state.ready p {
  background-color: #004e80;
}

#orders table tbody tr td.state.send p {
  background-color: #1EC198;
}

#orders table tbody tr td.details a {
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 2em;
  font-size: 0.8em;
  color: black;
  padding: 0.5em 2em;
  background-color: #f0c900;
}
/*# sourceMappingURL=orders.css.map */