@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
#grid{
    width: 80vw ;
    height: 120vh;
    position: relative ;
    margin: $sectionsDist auto 0 auto ;
    padding-top: $dist4 ;
    display: flex ;
    @include flex(row,flex-start,flex-start,nowrap,"") ;
    h4{
        font-size: $font-special ;
        font-weight: 700 ;
        color: $darkColor ;
        width: 100% ;
        text-align: center ;
        position: absolute ;
        top: 0 ;
        right: 0 ;
    }
    .col{
        width: 50% ;
        height: 100%;
        display: flex ;
        @include flex(column,flex-start,flex-start,nowrap,"") ;
        .row{           
            width: 100% ;
            display: flex ;
            @include flex(row,flex-start,flex-start,nowrap,"") ;
            .item{
                height: 100%;
                position: relative ;
                overflow: hidden;
                background-position: center center; 
                background-size: 50% 75% ;
                background-repeat: no-repeat ;
                .content{
                    visibility: hidden ;
                    opacity: 0;
                    transition: all .5s ease-in-out ;
                    width: 100% ;
                    height: auto;
                    display: flex ;
                    @include flex(column,flex-start,center,nowrap,"") ;
                    @include center-xy ;
                    .name,.price,.info{
                        margin: $dist1 0 ;
                    }
                    .name,.price{
                        font-size: $font-l ;
                        color: $whiteColor2 ;
                        width: 100% ;
                        text-align: center ;
                        @include ellipse ;
                    }
                    .info{
                        width: auto ;
                        display: flex ;
                        @include flex(row,space-around,center,nowrap,"") ;
                        button,a{
                            margin-left: $dist2;
                            margin-right: $dist2 ;
                        }
                        button{
                            width: auto ;
                            height: 3em;
                            line-height: 3em ;
                            padding: 0 1em ;
                            font-size: $font-l ;
                            color: $whiteColor2 ;
                            background-color: $greenColor2 ; 
                            cursor: pointer;
                        }
                        a{
                            width: auto ;
                            height: 3em;
                            line-height: 3em ;
                            padding: 0 $dist2 ;
                            font-size: $font-m - .1em ;
                            color: $greenColor2 ;
                            background-color: $whiteColor2 ;
                            border-radius: $dist2 ;
                        }
                    }
                }
                &::before{
                    content: '' ;
                    width: 100% ;
                    height: 100%;
                    border-radius: 50% ;
                    background-color: $blackFilter ;
                    position: absolute ;
                    top: 50% ;
                    right: 50% ;
                    transform: translate(50%,-50%) scale(0);
                    transition: all .5s ease-in-out ;
                }
                &:hover{
                    &::before{
                        transform: translate(50%,-50%) scale(2);
                    }
                    .content{
                        visibility: visible ;
                        opacity: 1;
                    }
                }
            }
        }
    }
    .col.num1{
        .row.num1{
            height: 25%;        
            .item{
                &:nth-child(1){
                    width: 50% ;
                    background-color: darken(#e1f5fe,2%)        ;
                    background-image: url('../../assets/imgs/braclet1.png') ;
                }
                &:nth-child(2){
                    width: 50% ;
                    margin-right: $dist1 ; 
                    background-color: darken(#e1f5fe,2%) ;
                    background-image: url('../../assets/imgs/necklase1.png') ;
                }
            }
        }
        .row.num2{
            height: 25%;     
            margin-top: $dist1 ; 
            .item{
                &:nth-child(1){
                    width: 100% ;
                    background-color: darken(#fff3e0,1%) ;
                    background-image: url('../../assets/imgs/keychain1.png');
                }
            }
        }
        .row.num3{
            height: 50%;
            margin-top: $dist1 ; 
            .item{
                &:nth-child(1){
                    width: 100%;
                    background-color: lighten(#ffcdd2,2%) ;
                    background-image: url('../../assets/imgs/purse1.png') ;                 
                }
            }
        }
    }
    .col.num2{
        margin-right: .5em ;
        .row.num1{
            height: 50%;
            .item{
                &:nth-child(1){
                    width: 100% ;
                    background-color: lighten(#ffcdd2,2%) ;
                    background-image: url('../../assets/imgs/purse1.png') ;
                }
            }
        }
        .row.num2{
            height: 25%;
            margin-top: $dist1 ; 
            .item{
                &:nth-child(1){
                    width: 50% ;
                    background-color: darken(#e1f5fe,2%)  ;
                    background-image: url('../../assets/imgs/braclet1.png') ;
                }
                &:nth-child(2){
                    width: 50% ;
                    margin-right: $dist1 ; 
                    background-color: darken(#e1f5fe,2%)  ;
                    background-image: url('../../assets/imgs/necklase1.png') ;
                }
            }
        }
        .row.num3{
            height: 25%;
            margin-top: $dist1 ; 
            .item{
                &:nth-child(1){
                    width: 100% ;
                    background-color: darken(#fff3e0,1%) ;
                    background-image: url('../../assets/imgs/keychain1.png');
                }
            }
        }
    }
    
}