@import '../../colors.scss' ;
@import '../../variables.scss' ;
@import '../../mixins.scss' ;
nav{
    width: 100% ;
    height: $nav-height;
    background-color: $whiteColor2 ;
    box-shadow: 0 0 .5em .05em $shadowColor ;
    position: fixed ;
    top: 0 ;
    right: 0 ;
    display: flex ;
    @include flex(row,flex-start,center,nowrap,"") ;
    z-index: 5;
    .helpers,.categories{
        display: flex ;
        @include flex(row,space-around,center,nowrap,"") ;
        width: auto ;  
        height: 100%;
    }
    .helpers{   
        a,.search{
            margin-right: $dist3 ;
            width: auto ;
            height: 100%;
            display: flex ;
            @include flex(column,space-around,center,nowrap,"");
            transition: all .3s ease-in-out ;
            &:hover{
                transform: scale(1.1) ;
            }
            i{
                font-size: $font-l ;
                color: lighten($darkColor,5%) ;
                transition: all .3s ease-in-out ;
            }
            p{
                font-size: $font-m - .2em;
                color: $greyColor2 ;
                transition: all .3s ease-in-out ;
            }
            &:hover{
                i{}
                p{}
            }
        }
        .basket{
            position: relative ;
            .badge{
                position: absolute ;
                top: -0%;
                right: -30% ;
                width: 1.5em ;
                height: 1.5em;
                border-radius: 50% ;
                text-align: center ;
                line-height: 1.5em ;
                font-size: $font-m ;
                color: white ;
                background-color: $primaryColor ;
            }
        }
        .search{cursor: pointer;}
    }
    .categories{
        margin-right: $dist4 ;    
        > div{
            width: auto ;
            height: 100%;
            line-height: $nav-height ;
            cursor: pointer;
            position: relative ;
            display: flex ;
            @include flex(row,flex-start,center,nowrap,"") ;
            &:not(:first-child){margin-right: $dist4 ;}
            p,i{
                font-size: $font-m ;
                color: $darkColor ;
                transition: all .3s ease-in-out ;
            }
            i{transform: translate(-100%,0);}       
            .products{
                width: auto ;
                height: auto;
                display: flex ;
                @include flex(row,space-around,center,nowrap,"") ;
                z-index: 5;
                background-color: $whiteColor2 ;
                box-shadow: 0 .1em .5em .1em $shadowColor ;
                position: absolute ;
                right: 0 ;
                top: 100% ;
                visibility: hidden ;
                opacity: 0;
                transition: all .5s ease-in-out ;
                img{
                    width: 12em ;
                    height: 12em;
                    margin-left: $dist2  ;
                }
                .links{
                    width: auto ;
                    max-height: 15em ;
                    margin: $dist2 0 $dist2 $dist2 ;
                    display: flex ;
                    @include flex(column,flex-start,flex-start,wrap,flex-start) ;
                    a{
                        min-width: 8em ;
                        height: 2em;
                        line-break: 2em ;
                        margin-top: $dist1 ;
                        margin-right: $dist3 ;
                        display: flex ;
                        @include flex(row,flex-start,center,nowrap,"") ;
                        font-size: $font-m ;
                        color: darken($greyColor2,10%);
                        transition: all .3s ease-in-out ;
                        &:hover{
                            color: $primaryColor ;
                            // transform: scale(1.1) ;
                        }
                        i{
                            transform: translate(100%,0%) ;
                            font-size: $font-l ;
                        }
                    }
                }
            }
            &:hover{
                .products{
                    visibility: visible ;
                    opacity: 1;
                }
            }
            
        }
    }
    .logo{
        width: 15% ;
        height: 100%;
        position: absolute ;
        left: $dist2;
        top: 0 ;
        a{
            @include fullSize-abs ;
            @include bg('../../assets/imgs/logo.png',center center,no-repeat,100% 75%) ;
        }
    }
}
nav.fixed{
    position: fixed ;
    z-index: 6;
}