@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../variables.scss' ;
#search{
    width: 100% ;
    height: 100vh;
    background-color: $blackFilter4 ;
    position: fixed ;
    top: 0 ;
    right: 0 ;
    z-index: 10;
    visibility: hidden ;
    opacity: 0;
    transition: all .4s ease-in-out ;
    i.fa-times{
        width: 3em ;
        height: 3em;
        border-radius: 50% ;
        border: 1px solid $whiteColor2 ;
        position: absolute ;
        right: 5%;
        top: 5%;
        cursor: pointer;
        &::before{
            @include center-xy ;
            font-size: $font-xxl ;
            color: $whiteColor2 ;
        }
    }
    .input-wrapper{
        @include center-xy ;
        width: 25em ;
        height: 3em;    
        
        input{
            width: 100% ;
            height: 100%;
            padding: $dist1 ;         
            font-size: $font-l ;
            background-color: transparent ;
            border: none ;
            border-bottom: 1.2px solid $whiteColor2 ;
            color: $whiteColor2 ;
            &::placeholder{
                font-size: $font-l ;
                color: $whiteColor2 ;
            }
        }
        i.fa-search{
            left: 5%;
            @include center-y ;
            font-size: $font-l ;
            cursor: pointer;
            color: $whiteColor2 ;

        }
    }
}
#search.show{
    visibility: visible ;
    opacity: 1;
}