@import '../../variables.scss' ;
@import '../../colors.scss' ;
@import '../../mixins.scss' ;
@import '../../utilities/styles/form.scss' ;
@media screen and (max-width:1000px){
    form#userInfo{
        width: 80%;
        .inputWrapper.text {
            input {
                width: calc((80vw - (3 * 3.4em)) / 3);
            }
        }
    }
}
@media screen and (max-width:900px){
    form#userInfo{
        font-size: 16px ;
    }
}
@media screen and (max-width:700px){
    form#userInfo{
        width: 95% ;
        .inputWrapper.text {
            input {
                width: calc((95vw - (3 * 3.4em)) / 3);
            }
        }
    }
}
@media screen and (max-width:550px){
    form#userInfo{
        font-size: 13px ;
        .inputWrapper.text {
            input {
                width: calc((95vw - (2 * 3.9em)) / 2);
            }
        }
    }
}
@media screen and (max-width:350px){
    form#userInfo{
        font-size: 13px ;
        .inputWrapper.text {
            input {
                width: 80vw;
            }
        }
    }
}