#product_info {
  width: 90vw;
  height: auto;
  margin: 2em auto 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#product_info .slider {
  width: 19.5em;
  height: auto;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  overflow: hidden;
}

#product_info .slider .bg {
  width: 100%;
  height: 15em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#product_info .slider .bg .img {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  background: url("") center center no-repeat;
  background-size: 100% 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product_info .slider .bg .img:nth-child(3) {
  background-image: url("../../assets/imgs/slide1.jpg");
}

#product_info .slider .bg .img:nth-child(4) {
  background-image: url("../../assets/imgs/slide2.jpg");
}

#product_info .slider .bg .img:nth-child(5) {
  background-image: url("../../assets/imgs/slide3.jpg");
}

#product_info .slider .bg .img:nth-child(6) {
  background-image: url("../../assets/imgs/slide4.jpg");
}

#product_info .slider .bg .img:nth-child(7) {
  background-image: url("../../assets/imgs/slide1.jpg");
}

#product_info .slider .bg .img:nth-child(8) {
  background-image: url("../../assets/imgs/slide2.jpg");
}

#product_info .slider .bg .img:nth-child(9) {
  background-image: url("../../assets/imgs/slide3.jpg");
}

#product_info .slider .bg .img:nth-child(10) {
  background-image: url("../../assets/imgs/slide4.jpg");
}

#product_info .slider .bg .img.active {
  opacity: 1;
  visibility: visible;
}

#product_info .slider .bg i {
  width: auto;
  height: auto;
  padding: 0.5em 1em;
  color: #2d2d31;
  background-color: transparent;
  font-size: 1em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

#product_info .slider .bg i:nth-child(1) {
  right: 0%;
}

#product_info .slider .bg i:nth-child(2) {
  left: 0%;
}

#product_info .slider .bg i:hover {
  color: #fbfbfb;
  background-color: #f0c900;
}

#product_info .slider .slides {
  width: 100%;
  height: auto;
  margin-top: 1em;
  padding: 0.5em 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  position: relative;
  right: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#product_info .slider .slides .slide {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 6em;
  height: 5em;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  background: url("") center center no-repeat;
  background-size: 100% 100%;
  border: 3px solid transparent;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 0.5em;
}

#product_info .slider .slides .slide:nth-child(1) {
  background-image: url("../../assets/imgs/slide1.jpg");
}

#product_info .slider .slides .slide:nth-child(2) {
  background-image: url("../../assets/imgs/slide2.jpg");
}

#product_info .slider .slides .slide:nth-child(3) {
  background-image: url("../../assets/imgs/slide3.jpg");
}

#product_info .slider .slides .slide:nth-child(4) {
  background-image: url("../../assets/imgs/slide4.jpg");
}

#product_info .slider .slides .slide:nth-child(5) {
  background-image: url("../../assets/imgs/slide1.jpg");
}

#product_info .slider .slides .slide:nth-child(6) {
  background-image: url("../../assets/imgs/slide2.jpg");
}

#product_info .slider .slides .slide:nth-child(7) {
  background-image: url("../../assets/imgs/slide3.jpg");
}

#product_info .slider .slides .slide:nth-child(8) {
  background-image: url("../../assets/imgs/slide4.jpg");
}

#product_info .slider .slides .slide.active {
  border: 3px solid #f0c900;
}

#product_info .infos {
  width: 80%;
  height: auto;
  margin: 2em auto 0 auto;
  padding: 0.5em 1em;
  background-color: white;
  -webkit-box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
  border-radius: 0.5em;
  width: 100%;
  height: auto;
  margin-right: 2em;
  margin-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  background-color: white;
  border: 1.2px solid #d5d5d8;
}

#product_info .infos .check_stock, #product_info .infos .stars, #product_info .infos .desc, #product_info .infos .price, #product_info .infos #buy {
  margin-top: 1em;
}

#product_info .infos h4 {
  color: #2d2d31;
  font-weight: 700;
  font-size: 1em;
}

#product_info .infos .check_stock {
  width: auto;
  height: auto;
  border-radius: 2em;
  color: #fbfbfb;
  padding: 0.5em 2em;
  font-size: 0.8em;
}

#product_info .infos .check_stock.available {
  background-color: #1EC198;
}

#product_info .infos .check_stock.not_available {
  background-color: #e74a4a;
}

#product_info .infos .stars {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#product_info .infos .stars i {
  font-size: 0.8em;
  color: #f0c900;
  margin: 0 .2em;
}

#product_info .infos .desc {
  width: auto;
  height: auto;
  font-size: 0.8em;
  color: #54555a;
  line-height: 2em;
}

#product_info .infos .price {
  font-size: 1em;
  color: #2d2d31;
}

#product_info .infos #buy {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#product_info .infos #buy p {
  font-size: #2d2d31;
  font-size: 0.8em;
}

#product_info .infos #buy input#quantity {
  width: 3em;
  height: 3em;
  text-align: center;
  border: 1px solid #86878e;
  padding: .2em;
  color: #2d2d31;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #fbfbfb;
  -webkit-transform: perspective(1000px) translateZ(0);
     -moz-transform: perspective(1000px) translateZ(0);
          transform: perspective(1000px) translateZ(0);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-right: 2em;
}

#product_info .infos #buy input#quantity:focus {
  -webkit-box-shadow: 0 0 0.3em 0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.3em 0.05em rgba(70, 69, 85, 0.3);
  -webkit-transform: perspective(1000px) translateZ(7em);
     -moz-transform: perspective(1000px) translateZ(7em);
          transform: perspective(1000px) translateZ(7em);
}

#product_info .infos #buy .add_to_basket {
  margin-right: 2em;
  width: auto;
  height: auto;
  padding: 0.5em 2em;
  font-size: 0.8em;
  color: #fbfbfb;
  background-color: #1EC198;
  border-radius: 2em;
  cursor: pointer;
}

#black_filter {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(30, 30, 30, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 6;
}

#black_filter.show {
  opacity: 1;
  visibility: visible;
}

#fix_product_img {
  width: 80%;
  height: 80vh;
  position: fixed;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
     -moz-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
  z-index: 7;
}

#fix_product_img span.close {
  width: 100%;
  height: 3em;
  background-color: #fbfbfb;
  color: #2d2d31;
  text-align: center;
  padding: 0.5em 0;
  -webkit-box-shadow: 0 -0.1em 0.2em 0.1em rgba(70, 69, 85, 0.3);
          box-shadow: 0 -0.1em 0.2em 0.1em rgba(70, 69, 85, 0.3);
  cursor: pointer;
}

#fix_product_img .img {
  width: 100%;
  height: -webkit-calc(100% - 3em);
  height: -moz-calc(100% - 3em);
  height: calc(100% - 3em);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

#fix_product_img.show {
  opacity: 1;
  visibility: visible;
}
/*# sourceMappingURL=product-info.css.map */