body {
  background-color: #f8f8f8;
}

#tabs {
  width: 80%;
  height: auto;
  margin: 2em auto 0 auto;
  padding: 0.5em 1em;
  background-color: white;
  -webkit-box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
  border-radius: 0.5em;
  width: 90%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
  margin: 2em auto 0 auto;
  padding-bottom: 2em;
  border: 1.2px solid #d5d5d8;
  background-color: white;
  padding-top: 1em;
}

#tabs .tabs_wrapper {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tabs .tabs_wrapper .tab {
  width: auto;
  height: auto;
  line-height: 3em;
  padding: 0.1em 1.8em;
  font-size: 0.8em;
  color: #f0c900;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#tabs .tabs_wrapper .tab.active {
  color: black;
  background-color: #f0c900;
  border-radius: 1em;
}

#tabs .content {
  width: 100%;
  margin: 0 auto;
  height: auto;
  margin-top: 1em;
}

#tabs .content .tab_content {
  width: 100%;
  height: auto;
  display: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#tabs .content .tab_content.show {
  display: block;
  -webkit-animation: fadeIn .3s linear forwards;
     -moz-animation: fadeIn .3s linear forwards;
          animation: fadeIn .3s linear forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#tabs .content .tab_content#info_section table {
  width: 25em;
  height: auto;
  margin-top: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tabs .content .tab_content#info_section table tbody {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tabs .content .tab_content#info_section table tbody tr {
  width: 100%;
  height: auto;
  padding: 0.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: "";
      -ms-flex-line-pack: "";
          align-content: "";
}

#tabs .content .tab_content#info_section table tbody tr:nth-child(odd) {
  background-color: #f4f3f7;
}

#tabs .content .tab_content#info_section table tbody tr th {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 10em;
  height: 100%;
  font-size: 0.9em;
  font-weight: 700;
  color: #2d2d31;
  padding: 0;
}

#tabs .content .tab_content#info_section table tbody tr td {
  width: 100%;
  height: 100%;
  font-size: 0.8em;
  color: #86878e;
  padding: 0;
}

#tabs .content .tab_content#more_info .wrapper {
  width: 80%;
  height: auto;
  margin: 2em auto 0 auto;
  padding: 0.5em 1em;
  background-color: white;
  -webkit-box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
          box-shadow: 0 0 0.6em 0.05em rgba(70, 69, 85, 0.3);
  border-radius: 0.5em;
  width: 100%;
  height: auto;
  font-size: 0.8em;
  line-height: 2em;
  padding: 0.5em;
  margin: 0;
  color: #2d2d31;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: none;
}

@media screen and (max-width: 900px) {
  #tabs {
    font-size: 16px;
  }
}

@media screen and (max-width: 750px) {
  #tabs {
    width: 95%;
  }
}

@media screen and (max-width: 600px) {
  #tabs {
    font-size: 13px;
  }
}

@media screen and (max-width: 400px) {
  #tabs .tabs_wrapper {
    font-size: 11px;
  }
  #tabs .content .tab_content#info_section table {
    width: 100%;
  }
}
/*# sourceMappingURL=tabs.css.map */